#locationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
#locationSectionChild {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#table {
  background-color: lightblue;
  width: 50vw;
}

@media (max-width: 1000px) {
  #locationSection {
    padding: 3rem;
  }

  #table {
    width: 90vw;
  }
}
