.accordionHeader{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#accordionTitle{
    font-size: 1.8rem;
}
#accordionText{
    font-size: 1.5rem;
    color : black;
}