
#aboutUsCardDeck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding-inline: 3rem;
}
.aboutUsCard {
  padding: 1rem;
  background-color: gray;
  height: 40vh;
  margin: 2rem;
}
@media (max-width : 1800px){
    .aboutUsCard{
        height: 70vh;
    }
}

@media (max-width: 1000px){
    #aboutUsHeading{
        margin-inline: 3rem;
    }
    #aboutUsCardDeck{
        flex-direction: column;
    }
    .aboutUsCard {
        padding: 1rem;
        background-color: gray;
        height: 40vh;
        margin: 1rem;
        margin-inline: 2rem;
      }
}
