#card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cardContent {
  max-width: 30rem;
  height: 30vh;
  margin: 1rem;
  overflow: hidden;
}
#cardDescription {
  font-size: 1.7rem;
}
#cardDeck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cardDeckRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .cardDeckRow {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #card {
    width: 40vw;
  }
  #cardContent {
    width: 100%;
  }
}
