#newsMedia {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  padding-inline: 15rem;
  background-color: gainsboro;
}
#newsMediaChild2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
#blogCard {
  background-color: lightblue;
  border-radius: 5rem;
}
#blogCard:hover {
  background-color: antiquewhite;
}
#blogImage {
  border-radius: 5rem;
  max-width: fit-content;
  justify-self: center;
  align-self:center;
}
#readBlogBtn{
  background-color: green;
  height: 4rem;
  font-size: large;
  margin: 2rem;
}
#closeBlogBtn{
  background-color: red;
  height: 4rem;
  font-size: large;
  margin: 2rem;
}
@media (max-width: 1800px) {
  #newsMedia {
    padding-inline: 3rem;
  }
  #newsMediaChild2 {
    flex-direction: column;
  }
  #blogCard {
    height: fit-content;
  }
}
