
#newsMedia{
    background-color: red;
    width:190rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#newsMediaChild2{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 140rem;
}
#blogCard{
    background-color: lightblue;
}
#blogCard:hover{
    background-color: antiquewhite;
}