.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
  }
  
  .box {
    width: 100px;
    height: 100px;
  }
  #section2{
    justify-content: center;
    align-items: center;
    background: rgb(240,237,135);
background: linear-gradient(90deg, rgba(240,237,135,1) 12%, rgba(71,188,222,1) 47%, rgba(34,15,208,0.5494572829131652) 95%);
  }
  #section2Content{
    max-width: 40%;
    font-weight: bold;
    color: white;
    font-size: large;
  }