#section2 {
  width: 100%;
  padding-inline: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
#item3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item3Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .item3Row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
