
#carouselHolder{
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center; 
}
.item{
    max-width: 80%;
    min-width: 80%;
    padding-top: 10%;
}
#section5Subtitle{
    font-size: 1.7rem;
}
.section5Item{
    font-size: 1.7rem;
}