#section3 {
  background-color: gainsboro;
}
#storyCardStack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
#section3Card {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
#section3Card:hover {
  box-shadow: 15px 14px 14px rgba(0, 0, 0, 0.25);
}
#imageSection {
  width: 100%;
}
#cardContentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#cardContent {
  font-size: 1.7rem;
}
#track-btn {
  margin: 1%;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
}

@media (max-width: 1200px) {
  #storyCardStack {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #section3Card {
    height: 50vh;
    min-width: 80%;
  }
  #cardContentSection {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #cardContent {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  #storyCardStack {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #section3Card {
    height: fit-content;
    min-width: 80%;
  }
  #cardContentSection {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #cardContent {
    font-size: 2rem;
  }
}
