#contactStack{
  background-image: url("https://images.unsplash.com/photo-1450818074504-fb9713fe584e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&w=1000&q=80");
  background-position: center;
  height: 60vh;
  background-repeat: no-repeat;
  background-size:100% 100%;

}
#contactCard{
  background-color: transparent;
  border: 10px solid transparent;
}
#contentHolder{
  background-color: transparent;
}

.cardContent{
  font-size: 2.8rem;
  color: white;
}