
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    
    top: 0;
    left: 0;
    right: 0;
  }

  #navbarLinkSection{
    justify-content: space-evenly;
    width: 100%;
    background-color: green;
  }
  
  .navbar-link {
    margin-inline: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-out;
    
  }
  
  .navbar-link:hover {
    color: #f00;
  }
  #track-btn {
    background-color : red
  }
  